<div class="fifth-section section">
	<div class='slider-wrap'>
    <div class='slider'>
      <ul>
        <li>
         <div class='item'>
          <a href='#'>
           <div class='view-profile'>View Profile</div>
         </a>
       </div>
     </li>
     <li>
       <div class='item'>
        <a href='#'>
         <div class='view-profile'>View Profile</div>
       </a>
     </div>
   </li>
   <li>
     <div class='item'>
      <a href='#'>
       <div class='view-profile'>View Profile</div>
     </a>
   </div>
 </li>
 <li>
   <div class='item'>
    <a href='#'>
     <div class='view-profile'>View Profile</div>
   </a>
 </div>
</li>
<li>
 <div class='item'>
  <a href='#'>
   <div class='view-profile'>View Profile</div>
 </a>
</div>
</li>
</ul>
</div>
<a class='slider-arrow sa-left' href='#'>
  <!-- <i class='fa fa-angle-left'></i> -->
  <%= image_tag "fifth/button-back.svg", class: "fa fa-angle-left" %>
</a>
<a class='slider-arrow sa-right' href='#'>
  <!-- <i class='fa fa-angle-right'></i> -->
  <%= image_tag "fifth/button-forward.svg", class: "fa fa-angle-right" %>
</a>
</div>
</div>