<div class="section home">
  <%= image_tag "BG.png", class:"back-1" %>
  <div class="section-home-info">
    <h1>44 CENTRE </h1>
    <h1>БИЗНЕС-ЦЕНТР</h1>
    <p>Компания с десятилетним опытом работы на рынке коммерческой недвижимости, предлагает разместить Ваши офисы и склады в бизнес-центре класса «В» — 44 Centre.</p>
    <h4>г. Киев, ул. Машиностроительная 44</h4>
    <h4>+ 38 (044) 247-44-44</h4>
  </div>
  <div class="comments">
    <%= link_to image_tag("shape.svg"), login_path,class: "comments-link hidden-xs hidden-sm" %>
  </div>
</div>