<div class="section home">
  <div class="section-home-info">
    <h1>44 CENTRE </h1>
    <h1>БИЗНЕС-ЦЕНТР</h1>
    <p>Компания с пятнадцатиленим опытом работы на рынке коммерческой недвижимости, предлагает разместить Ваши офисы и склады в бизнес-центре класса «В» — 44 Centre.</p>
    <h4>г. Киев, ул. Машиностроительная 44</h4>
    <h4>+ 38 (044) 247-44-44</h4>
  </div>
  <div class="comments">
    <% if logged_in? %>
    <%= link_to image_tag("shape.svg"), comments_path,class: "comments-link hidden-xs hidden-sm" %>
    <% else %>
    <%= link_to image_tag("shape.svg"), login_path,class: "comments-link hidden-xs hidden-sm" %>
    <% end %>
  </div>
</div>
