<div class="section fourth">
  <div class='slider-wrap'>
    <div class='slider'>
      <ul>
        <li>
         <div class='item'>
          <a href='#'>
           <div class='view-profile'>View Profile</div>
         </a>
       </div>
     </li>
     <li>
       <div class='item'>
        <a href='#'>
         <div class='view-profile'>View Profile</div>
       </a>
     </div>
   </li>
   <li>
     <div class='item'>
      <a href='#'>
       <div class='view-profile'>View Profile</div>
     </a>
   </div>
 </li>
 <li>
   <div class='item'>
    <a href='#'>
     <div class='view-profile'>View Profile</div>
   </a>
 </div>
</li>
<li>
 <div class='item'>
  <a href='#'>
   <div class='view-profile'>View Profile</div>
 </a>
</div>
</li>
</ul>
</div>
<a class='slider-arrow sa-left' href='#'>
  <i class='fa fa-angle-left'></i>
</a>
<a class='slider-arrow sa-right' href='#'>
  <i class='fa fa-angle-right'></i>
</a>
</div>

</div>