<div class="modal-login">
  <h2>Login:</h2>

</div>

<!-- 
<form action="">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Login</span>
      <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Password</span>
      <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
    </div>
    <button class="btn btn-lg btn-success center-block">Go</button>
  </form>

 -->