<div class="second-section section">
	<div class="second-section-about">
		<h1>О КОМПАНИИ</h1>
		<h4>Компания предоставляет в арендное пользование складские и офисные помещения класса «В» различной модификации от <span>25 кв.м</span> до блоков <span>950 кв.м.</span>, в любом удобном для арендатора формате.</h4>
		<h4><span>44 Сentre</span> расположен в Соломенском районе г. Киева с развитой инфраструктурой, вблизи станций метро «Берестейская», «Шулявская», «Политехнический институт». На территории комплекса работает столовая, суши-бар, стаматологическая клиника, автомойка и прочее.</h4>
		<%= image_tag "Outlines.png", class:"hidden-xs" %>
	</div>
</div>