<div class="sixth-section section" id="section6">
	<%= image_tag "BG_contacts.png", class:"back-2" %>
	<div class="sixth-section-content">
			<div class="content-header">
				<h1>СВЯЗАТЬСЯ С НАМИ</h1>
			</div>
			<div class="content-text">
			<h2>ул. Машиностроительная 44, г. Киев, Украина, 03680</h2>
			<h2>svetamir@rtu.kiev.ua</h2>
			<h2>+ 38 (044) 247-44-44</h2>
			<h2>+ 38 (044) 456-10-82</h2>
			</div>
			<div class="content-map">
				<div id='buisness-center-map'></div>
			</div>
	</div>
</div>
