<div id="fullpage">
  <div class="section home">
    <%= render "login.html" %>
    <%= image_tag "back1.jpg", class:"back-1" %>
    <div class="section-home-info">
      <h1>44 CENTRE </h1>
      <h1>БИЗНЕС-ЦЕНТР</h1>
      <p>Компания с десятилетним опытом работы на рынке коммерческой недвижимости, предлагает разместить Ваши офисы и склады в бизнес-центре класса «В» — 44 Centre.</p>
      <h4>г. Киев, ул. Машиностроительная 44</h4>
      <h4>+ 38 (044) 247-44-44</h4>
    </div>
    <div class="comments">
      <%= image_tag "shape.svg",class: "comments-link" %>
    </div>
  </div>
  <div class="section">
   <h1>Some section</h1>
 </div>
 <div class="section">
   <h1>Some section</h1>
 </div>
 <div class="section fourth">
  <div class='slider-wrap'>
    <div class='slider'>
      <ul>
        <li>
         <div class='item'>
          <a href='#'>
           <div class='view-profile'>View Profile</div>
         </a>
       </div>
     </li>
     <li>
       <div class='item'>
        <a href='#'>
         <div class='view-profile'>View Profile</div>
       </a>
     </div>
   </li>
   <li>
     <div class='item'>
      <a href='#'>
       <div class='view-profile'>View Profile</div>
     </a>
   </div>
 </li>
 <li>
   <div class='item'>
    <a href='#'>
     <div class='view-profile'>View Profile</div>
   </a>
 </div>
</li>
<li>
 <div class='item'>
  <a href='#'>
   <div class='view-profile'>View Profile</div>
 </a>
</div>
</li>
</ul>
</div>
<a class='slider-arrow sa-left' href='#'>
  <i class='fa fa-angle-left'></i>
</a>
<a class='slider-arrow sa-right' href='#'>
  <i class='fa fa-angle-right'></i>
</a>
</div>

</div>
</div>
