<div id="fullpage">
  <%= render "first.html" %>
  <div class="section">
   <h1>Some section</h1>
 </div>
 <%= render "third.html" %>
 <%= render "fourth.html" %>
<div class="section">
  <h1>Some section</h1>
</div>
</div>
