<p>
  <strong>Title:</strong>
  <%= @comment.title %>
</p>

<p>
  <strong>Name:</strong>
  <%= @comment.username %>
</p>
<p>
  <strong>Text:</strong>
  <%= @comment.context %>
</p>

<%= link_to "Back", comments_path %>
