// Place all the styles related to the Offices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
	overflow: hidden;
}
.main-wrap{
	margin: 0;
	padding: 0;
	background: white;
	max-height: 100%;
	overflow: hidden;
	.cms-wrap-2{
		overflow: hidden;
		max-height: 100%;
		color: #3357a1;
		.cms-heading{
			padding-left: 20px;
		}
		h1{
			font-family: PDF;
		}
		h2:first-of-type{
			font-family: PDF-Medium;
			color: #3357a1;	
			font-size: 35px;
			font-weight: normal;
			line-height: 1.43;
			letter-spacing: 0.8px;
		}
		p{
			color: black;
			font-family: Raleway-Regular;
			font-size: 14px;
			font-weight: normal;
			line-height: 1.29;
			letter-spacing: 0.4px;
			color: #666666;
		}
		.row{
			max-height: 100%;
			overflow: hidden;

			width: 100%;
			.left{
				background-color: white;
				overflow-y: scroll;
				max-height: 100%;
				height: 70em;
				.table{
					padding-left: 20px;
					.small-table-heading{
						color: #3357a1; font-size: 20px;
						font-family: Raleway-Bold;
						span{
							font-size: 16px; color: #666666;
							font-family: Raleway-Regular;
						}
					}
				}
				.cms-heading{
					padding-top: 30px;
				}
				.table-headings{
					color: #3357a1;
					h3{
						font-family: PDF-Medium;
					}
				}
				.table-body.table-comments{
					color: black;
					.table-element{
						margin-bottom: 20px;
						border: 2px solid #3357a1;
						padding: 10px;
					}
				}
			}
			.right{
				padding-bottom: 20%;
				overflow: visible;
				h3{
					a{
						color: white;
						font-family: PDF-Medium;
					}
					a:hover{
						color: #666666;
					}
				}
				.logout-svg{
					width: 5%;
					img{
						padding-top: 10px;
						width: 10%;
					}
				}
				h1{
					padding-left: 20px;
					padding-top: 35px;
					color: white;
					font-family: PDF;
				}
				min-height: 100%;
				background: #3357a1;
				.form-group{
					padding-left: 20px;
					.form-control{
						width: 75%;
						border-radius: 2px;
					}
					h2{
						font-family: PDF-Medium;
						color: white;
						span{
							font-size: 16px;
						}
					}
					color: black;
					margin-bottom: 20px;
				}
				.actions{
					padding-left: 20px;
					input{
						border: none;
						padding: 10px 10px;
						color: #3357a1;
						font-size: 20px;
						font-family: PDF-Medium;
						background: white;
						border-radius: 2px;
					}
				}
			}
		}
	}
}