// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  font-size: 100%;
  -webkit-font-feature-settings: "lnum";
  -moz-font-feature-settings: "lnum";
  -ms-font-feature-settings: "lnum";
  -o-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.section{overflow-x: hidden;}


a[href^="tel"]{
  color:inherit;
  text-decoration:none;
}

h1{
	margin-top: 0;
}

#fp-nav ul li a span{
  color: #666;
}

#fp-nav ul li .fp-tooltip{
  font-family: Raleway-Regular;
  font-size: 1.3em;
  color: #666;
}

#fp-nav ul li a.active span{
  background: none;
  border: 2px solid #666;
  border-radius: 50%;
}

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span{
  background: black;
}

.main-wrap{
	width: 100%;
	padding: 0;
}

.home>h1,.second>h1{
	margin-top: 0;
}
#section1{
  background-size: cover;
  background-image: url(BG.png);
}
.home{
  .back-1{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .section-home-info{
    position: relative;
    height: 100%;
    background-color: rgba(51, 87, 161, 0.85);
    color: white;
    h1{
      // padding: 0 0px 0 26%;
      font-family: PDF;
    }
    h2{
      font-family: Raleway-Bold;
    }
    h4{
      font-family: Raleway-Bold;
      // padding: 10px 50px 0 26%;
      margin-bottom: 0;
      margin-top: 0;
    }
    h4:first-of-type{
      margin-bottom: -10px;
    }
    p{
      font-family: Raleway-Regular;
      // padding: 20px 50px 0 26%;
      font-weight: normal;
    }
  }
  .comments{
    position: absolute;
    right: 20px; top: 20px;
    img{
      opacity: 0.5;
    }
    img:hover{
      opacity: 1;
    }
  }
}



.modal-login{
  position: absolute;
  top: 25%;
  left: 0; right: 0;
  margin: 0 auto;
  background-color: white;
  color: black;
  width: 40%;
  z-index: 2;
  padding-top: 20px; padding-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.75);
}

.modal-login .input-group,.modal-login h2{
  width: 60%;
  position: relative;
  left: 0; right: 0;
  margin: 0 auto;
  margin-bottom: 10px;
}

.modal-login .btn{
  width: 60%;
}

.second-section{
  color:white;
  .second-section-about{
    position: relative;
    left: 0; right: 0;
    margin: 0 auto;
    top: 9.765625%;
    h1{
      font-family: PDF;
    }
    h4{
      font-family: Raleway-Regular;
      span{
        font-family: Raleway-SemiBold;
      }
    }
    img{
      width: 100%;
    }
  }
}

.section-third{
  .section-third-content{
    position: relative;
    h1{
      color: #3357a1;
      font-family: PDF;
      margin: 0;
    }

    .flex-1,.flex-2{
      list-style: none;
      display: -webkit-flex;
      display: flex;
      display: -webkit-box;
      @include flexbox();
      justify-content: space-between;
      -webkit-justify-content: space-between;
      padding: 0;
      // position: relative;
      // left: 0; right: 0;
      // margin: 0 auto;
    }
    .flex-1 img,.flex-2 img{max-width: 100%;}
  }
}
.section-fourth{
  .section-fourth-content{
    color: #3357a1;
    h1{
      font-family: PDF;
    }
    position: relative;
    top: 9.765625%;
    left: 0;right: 0;
    margin: 0 auto;
    .flex-1{
      display: -webkit-flex;
      display: flex;
      display: -webkit-box;
      @include flexbox();
      flex-wrap:wrap;
      -webkit-flex-wrap:wrap;
      align-items: baseline;
      .flex-block{
        img{
          vertical-align: middle;
        }
        p{
          font-family: PDF-Regular;
          font-size: 20px;
          margin-top: 20px;
          letter-spacing: 0.5px;
          line-height: 25px;
        }
      }
    }

  }
}

.fifth-section{
  h1{
    color: #3357a1;
    font-family: PDF;
  }
  .slider-wrap{
    .slider{
      width: 75%;
      ul{
        li{
          .item{
            .slider-text-block{
              width: 100%;
              height: 50%;
              h5{
                color: #3357a1;
                
                font-family: PDF-Medium;
                margin-left: 5px;
              }
              p{
                margin-left: 7px;
              }
            }
            .slider-image{
              position: relative;
              height: 50%;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

#section6{
  background-size: cover;
  background-image: url(BG_contacts.png);
}

@media only screen and (max-width:320px) {
  .home{
    .back-1{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }
    .section-home-info{
      width: 100%;
      height: 100%;
      color: white;
      h1{
        padding: 0 0px 0 3.789473684%;
      }
      h4{
        padding: 10px 50px 0 3.789473684%;
        font-size: 22px;
      }
      p{
        padding: 20px 0 0 3.789473684%;
        font-size: 20px;
        line-height: 1.3
      }
      h1:first-of-type{
        padding-top: 20px;
      }
    }
  }
  .second-section{
    .second-section-about{
      width: 90%;
      h4{
        margin-top: 6%;
      }
    }
  }
  .section-third-content{
    left: 0;right: 0;
    margin: 0 auto;
    width: 90%;
    top: 40px;
    padding-bottom: 100px;
    h1{
      margin-bottom:20px;
    }
    .flex-1,.flex-2{
      width: 100%;
    }
    .flex-1{
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      margin-top: 20px;
      li{
        max-width: 100%;
        box-sizing: border-box;
        padding: 1em;
        min-width: 100%;
      }
    }
    .flex-2{
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      padding-bottom: 40px;
      li{
        max-width: 40%;
        box-sizing: border-box;
        padding: 1em;
        min-width: 50%;
      }
    }
  }
  .section-fourth{
    .section-fourth-content{
      padding-bottom: 40px;
      width: 100%;
      position: relative;
      top: 40px;
      h1{
        padding-top: 20px;
        margin-left: 8%;
      }
      .flex-1{
        padding-bottom: 80px;
        .flex-block{
          width: 50%;
          .flex-block-text{
            width: 70%;
            position: relative;
            left: 0;
            right: 0;
            margin: 0 auto;
            margin-top: 20px;
          }
        }
        .flex-block:nth-of-type(n+3){
          margin-top: 30px;
        }
      }
    }
  }
  .fifth-section{
    .fifth-section-header{
      position: relative;
      top: 6%;
      padding-top: 30px;
      margin: 20px auto;
      h1{
        color: #3357a1;
        font-family: PDF;
        text-align: center;
        margin-bottom: -70px;       
      }
    }
    .slider-wrap{
      height: 80%;
      padding-bottom: 40px;
      .slider{
        ul{
          li{
            .item{
              .slider-text-block{
                h5{
                  font-size: 17px;
                }
              }
              .slider-image{
              }
            }
          }
        }
      }
    }
  }

  .sixth-section{
    .back-2{
      position: absolute;
      left: 0; top: 0;
      width: 100%;
      height: 100%;
    }
    .sixth-section-content{
      padding-bottom: 150px;
      padding-top: 10px;
      width: 100%;
      position: relative;
      height: 100%;
      background-color: rgba(51, 87, 161, 0.75);
      color: white;
      .content-header{
        position: relative;
        top: 5.020833333%;
        left: 5.138888889%;
        h1{
          font-family: PDF-Medium;
          font-size: 45px;
        }
      }
      .content-text{
        width: 90%;
        position: relative;
        left: 5.138888889%;
        top: 6.89%;
        h2{
          font-family: PDF-Regular;
          font-size: 30px;
          letter-spacing: 1.5px;
        }
      }
      .content-map{
        position: relative;
        left: 0; right: 0;
        margin: 0 auto;
        bottom: -13%;
        width: 100%;
        #buisness-center-map{
          position: relative;
          left: 0;right: 0;
          margin: 0 auto;
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}

@media only screen and (min-width:321px) and (max-width:680px) {
  .home{
    .back-1{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }
    .section-home-info{
      width: 100%;
      height: 100%;
      color: white;
      h1{
        padding: 0 0px 0 3.789473684%;
        font-size: 50px;
      }
      h4{
        padding: 10px 50px 0 3.789473684%;
        font-size: 26px;
      }
      p{
        padding: 20px 0 0 3.789473684%;
        font-size: 26px;
        line-height: 1.3
      }
      h1:first-of-type{
        padding-top: 50px;
      }
      h4:first-of-type{
        padding-top: 40px;
      }
    }
  }
  .second-section{
    .second-section-about{
      width: 90%;
      h1{
        font-size: 50px;
      }
      h4{
        margin-top: 6%;
        font-size: 25px;
      }
    }
  }
  .section-third-content{
    left: 0;right: 0;
    margin: 0 auto;
    width: 90%;
    top: 40px;
    padding-bottom: 100px;
    h1{
      margin-bottom:20px;
    }
    .flex-1,.flex-2{
      width: 100%;
    }
    .flex-1{
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;

      margin-top: 20px;
      li{
        max-width: 100%;
        box-sizing: border-box;
        padding: 1em;
        min-width: 100%;
      }
    }
    .flex-2{
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;

      padding-bottom: 40px;
      li{
        max-width: 40%;
        box-sizing: border-box;
        padding: 1em;
        min-width: 50%;
      }
    }
  }
  .section-fourth{
    .section-fourth-content{
      padding-bottom: 40px;
      width: 100%;
      position: relative;
      top: 40px;
      h1{
        padding-top: 20px;
        margin-left: 8%;
      }
      .flex-1{
        padding-bottom: 80px;
        .flex-block{
          width: 50%;
          .flex-block-text{
            width: 70%;
            position: relative;
            left: 0;
            right: 0;
            margin: 0 auto;
            margin-top: 20px;
          }
        }
        .flex-block:nth-of-type(n+3){
          margin-top: 30px;
        }
      }
    }
  }
  .fifth-section{
    .fifth-section-header{
      position: relative;
      top: 6%;
      padding-top: 30px;
      h1{
        color: #3357a1;
        font-family: PDF;
        text-align: center;       
      }
    }
    .slider-wrap{
      padding-bottom: 40px;
      .slider{
        ul{
          li{
            .item{
              .slider-text-block{
                h5{
                  font-size: 17px;
                }
              }
              .slider-image{
              }
            }
          }
        }
      }
    }
  }
  .sixth-section{
    .back-2{
      position: absolute;
      left: 0; top: 0;
      width: 100%;
      height: 100%;
    }
    .sixth-section-content{
      padding-bottom: 150px;
      padding-top: 10px;
      width: 100%;
      position: relative;
      height: 100%;
      background-color: rgba(51, 87, 161, 0.75);
      color: white;
      .content-header{
        position: relative;
        top: 5.020833333%;
        left: 5.138888889%;
        h1{
          font-family: PDF-Medium;
          font-size: 45px;
        }
      }
      .content-text{
        width: 90%;
        position: relative;
        left: 5.138888889%;
        top: 6.89%;
        h2{
          font-family: PDF-Regular;
          font-size: 30px;
          letter-spacing: 1.5px;
        }
      }
      .content-map{
        position: relative;
        left: 0; right: 0;
        margin: 0 auto;
        bottom: -13%;
        width: 100%;
        #buisness-center-map{
          position: relative;
          left: 0;right: 0;
          margin: 0 auto;
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}

@media only screen and (min-width:680px) and (max-width: 900px){
  .home{
    .section-home-info{
      width: 100%;
      h1{
        padding: 0 0px 0 4%;
        font-family: PDF;
        font-size: 70px;
        line-height: 70px;
        letter-spacing: 1px;
      }
      h2{
        font-family: Raleway-Bold;
      }
      h4{
        margin-top: 0;
        font-family: Raleway-Bold;
        padding: 10px 50px 0 4%;
        font-size: 31px;
        font-weight: normal;
        line-height: 1.5;
        padding-top: 0;
        margin-top: 0;
      }
      p{
        font-family: Raleway-Regular;
        padding: 20px 0 0 4%;
        font-size: 30px;
        font-weight: normal;
        line-height: 1.5;
        width: 90%;
      }
      h1:first-of-type{
        padding-top: 150px;
      }
      h1:last-of-type{
        margin-bottom: 30px;
      }
      h4:first-of-type{
        margin-top: 30px;
      }
    }
  }
  .second-section{
    .second-section-about{
      padding-bottom: 50px;
      padding-top: 10px;
      top: 5%;
      width: 90%;
      h1{
        font-size: 55px;
      }
      h4{
        margin-top: 30px;
        line-height: 1.5;
        font-size: 30px;
      }
      img{
        margin-top: 20px;
        display: block;
      }
    }
  }
  .section-third{
    .section-third-content{
      top: 5.208333333%;
      width: 90%;
      left: 0; right: 0;
      margin: 0 auto;
      h1{
        padding-top: 50px;
        margin-bottom: 100px;
      }
      .flex-1,.flex-2{
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 0;
        width: 100%;
        img{
          width: 100%;
        }
      }
      .flex-1{
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;

        li{
          max-width: 600px;
          box-sizing: border-box;
          padding: 1em;
          min-width: 100%;
        }
      }
      .flex-2{
        flex-wrap:wrap;

        li{
          max-width: 345px;
          box-sizing: border-box;
          padding: 1em;
          min-width: 1%;
        }
      }
      .flex-1 img,.flex-2 img{max-width: 100%;}
    }
  }
  .section-fourth{
    .section-fourth-content{
      padding-top: 20px;

      width: 90%;
      position: relative;
      top: 7%;
      h1{
        position: relative;
        left: 5.21%;
        top: 4%;
      }
      .flex-1{
        .flex-block{
          width: 33.3333333%;
          .flex-block-text{
            position: relative;
            left: 0; right: 0;
            margin: 0 auto;
            width: 46%;
          }
        }
        .flex-block:nth-of-type(n+3){
          margin-top: 67px;
        }
      }
    }
  }
  .fifth-section{
    h1{
      padding-top: 20px;
      color: #3357a1;
      font-family: PDF;
      position: relative;
      left: 20.138888889%;
      top: 6%;
    }
    .slider-wrap{
      position: relative;
      top: 20%;
      .slider{
        width: 90%;
        ul{
          li{
            .item{
              .slider-text-block{
                width: 100%;
                height: 50%;
                h5{
                  color: #3357a1;
                  font-size: 17px;
                }
              }
              .slider-image{
                position: relative;
                bottom: 5px;
                height: 50%;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
  .sixth-section{
    .back-2{
      position: absolute;
      left: 0; top: 0;
      width: 100%;
      height: 100%;
    }
    .sixth-section-content{
      width: 100%;
      position: relative;
      height: 100%;
      background-color: rgba(51, 87, 161, 0.75);
      color: white;
      padding-bottom: 500px;
      .content-header{
        position: relative;
        top: 13.020833333%;
        left: 5%;
        padding-top: 20px;
        h1{
          font-family: PDF-Medium;
          font-size: 45px;
        }
      }
      .content-text{
        width: 40%;
        position: relative;
        left: 5%;
        top: 18.89%;
        h2{
          font-family: PDF-Regular;
          font-size: 30px;
          letter-spacing: 1.5px;
        }
      }
      .content-map{
        position: absolute;
        right: -10%;
        top: 19%;
        width: 60%;
        #buisness-center-map{
          width: 280px;
          height: 280px;
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) and (max-width: 1440px){
  .home{
    .section-home-info{
      width: 50%;
      h1{
        padding: 0 0px 0 26%;
        font-family: PDF;
        font-size: 45px;
        font-weight: bold;
        line-height: 1.11;
        letter-spacing: 1px;
      }
      h2{
        font-family: Raleway-Bold;
        font-size: 22px;
        font-weight: bold;
        line-height: 1.36;
        letter-spacing: 1.1px;
      }
      h4{
        font-family: Raleway-Bold;
        padding: 10px 50px 0 26%;
        line-height: 1.5;

      }
      p{
        font-family: Raleway-Regular;
        padding: 20px 50px 0 26%;
        font-size: 20px;
        font-weight: normal;
        line-height: 1.5;
      }
      h1:first-of-type{
        padding-top: 150px;
      }
    }
  }
  .second-section{
    .second-section-about{
      width: 59.722222222%;
      h4{
        margin-top: 30px;
        line-height: 1.5;
      }
      img{
        margin-top: 20px;
      }
    }
  }
  .section-third{
    .section-third-content{
      top: 5.208333333%;
      left: 20.138888889%;
      h1{
        margin-bottom: 100px;
      }
      .flex-1,.flex-2{
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 0;
      // position: relative;
      // left: 0; right: 0;
      // margin: 0 auto;
      width: 60%;
    }
    .flex-1{
      li{
        max-width: 400px;
        box-sizing: border-box;
        padding: 1em;
        min-width: 1%;
      }
    }
    .flex-2{
      li{
        max-width: 400px;
        box-sizing: border-box;
        padding: 1em;
        min-width: 1%;
      }
    }
    .flex-1 img,.flex-2 img{max-width: 100%;}
  }
}
.section-fourth{
  .section-fourth-content{
    width: 90%;
    position: relative;
    top: 7%;
    h1{
      position: relative;
      left: 5.21%;
    }
    .flex-1{
      .flex-block{
        width: 33.3333333%;
        .flex-block-text{
          position: relative;
          left: 0; right: 0;
          margin: 0 auto;
          width: 46%;
        }
      }
      .flex-block:nth-of-type(n+3){
        margin-top: 67px;
      }
    }
  }
}
.fifth-section{
  h1{
    color: #3357a1;
    font-family: PDF;
    position: relative;
    left: 20.138888889%;
    padding-top: 50px;
  }
  .slider-wrap{
    .slider{
      width: 75%;
      ul{
        li{
          .item{
            .slider-text-block{
              width: 100%;
              height: 50%;
              h5{
                color: #3357a1;
              }
            }
            .slider-image{
              position: relative;
              bottom: 10px;
              height: 50%;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
.sixth-section{
  .back-2{
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
  }
  .sixth-section-content{
    width: 100%;
    position: relative;
    height: 100%;
    background-color: rgba(51, 87, 161, 0.75);
    color: white;
    .content-header{
      position: relative;
      top: 13.020833333%;
      left: 20.138888889%;
      h1{
        font-family: PDF-Medium;
        font-size: 45px;
      }
    }
    .content-text{
      width: 35%;
      position: relative;
      left: 20.138888889%;
      top: 18.89%;
      h2{
        font-family: PDF-Regular;
        font-size: 30px;
        letter-spacing: 1.5px;
      }
    }
    .content-map{
      position: absolute;
      right: 25%;
      top: 29.6875%;
      width: 20%;
    }
  }
}
}










.slider-wrap {
  position: relative;
  margin: 50px auto;
  margin-top: 0;
  width: 90%;
}

.slider {
  position: relative;
  width: 60%;
  margin: auto;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
  text-align: center;
}
ul li .item {
  margin-top: 100px;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 18rem;
  height: 30rem;
  background: black;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  background: #ffffff;
  color: black;
  border: solid 0.2px #979797;
}

.data {
  color: #000;
  font-size: 1.2rem;
  letter-spacing: 0.01rem;
  font-weight: 100;
}

.view-profile {
  position: absolute;
  width: 124px;
  height: 27px;
  border: 1px solid #fff;
  color: #000;
  left: 50%;
  bottom: 20px;
  margin-left: -62px;
  padding: 6px 0;
  border-radius: 5px;
  font-size: 1.1rem;
  -webkit-transition: background-color .2s ease-in-out .1s;
  transition: background-color .2s ease-in-out .1s;
}
.view-profile:hover {
  background-color: #797BED;
  border-color: #000;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  color: #797BED;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.slider-arrow i {
  font-size: 2rem;
  border: 1px solid #797BED;
  padding: 10px 20px;
  border-radius: 50px;
}

.sa-left {
  left: 0px;
}

.sa-right {
  right: 0px;
}

#buisness-center-map {
  height:400px;
  width:400px;
}
.gm-style-iw * {
  display: block;
  width: 100%;
}
.gm-style-iw h4, .gm-style-iw p {
  margin: 0;
  padding: 0;
}
.gm-style-iw a {
  color: #4272db;
}
