// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  font-size: 100%;
}

.section{overflow-x: hidden;}

h1{
	margin-top: 0;
}

.main-wrap{
	width: 100%;
	padding: 0;
}

.home>h1,.second>h1{
	margin-top: 0;
}
.home{
  .back-1{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .section-home-info{
    width: 44.236111111%;
    position: relative;
    height: 100%;
    background-color: rgba(51, 87, 161, 0.75);
    color: white;
    h1{
      padding: 0 0px 0 26%;
      font-family: PDF;
    }
    h2{
      font-family: Raleway-Bold;
    }
    h4{
      font-family: Raleway-Bold;
      padding: 10px 50px 0 26%;
    }
    p{
      font-family: Raleway-Regular;
      padding: 20px 50px 0 26%;
      font-size: 17px;
    }
  }
  .comments{
    position: absolute;
    right: 20px; top: 20px;
  }
}



.modal-login{
  position: absolute;
  top: 25%;
  left: 0; right: 0;
  margin: 0 auto;
  background-color: white;
  color: black;
  width: 40%;
  z-index: 2;
  padding-top: 20px; padding-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.75);
}

.modal-login .input-group,.modal-login h2{
  width: 60%;
  position: relative;
  left: 0; right: 0;
  margin: 0 auto;
  margin-bottom: 10px;
}

.modal-login .btn{
  width: 60%;
}

.second-section{
  color:white;
  .second-section-about{
    position: relative;
    left: 0; right: 0;
    margin: 0 auto;
    top: 9.765625%;
    h1{
      font-family: PDF;   
    }
    h4{
      font-family: Raleway-Regular;
      span{
        font-family: Raleway-SemiBold;
      }
    }
    img{
      width: 100%;
    }
  }
}

.section-third{
  .section-third-content{
    position: relative;
    h1{
      color: #3357a1;
      font-family: PDF;      
      margin: 0;
    }
    
    .flex-1,.flex-2{
      list-style: none;
      display: flex;
      justify-content: space-between;
      padding: 0;
      // position: relative;
      // left: 0; right: 0;
      // margin: 0 auto;
    }
    .flex-1 img,.flex-2 img{max-width: 100%;}
  }
}
.section-fourth{
  .section-fourth-content{
    color: #3357a1;
    h1{
      font-family: PDF;
    }
    position: relative;
    top: 9.765625%;
    left: 0;right: 0;
    margin: 0 auto;
    .flex-1{
      display: -webkit-flex;
      display: flex;
      flex-wrap:wrap;
      align-items: baseline;
      .flex-block{
        img{
          vertical-align: middle;
        }
        p{
          font-family: PDF-Regular;
          font-size: 20px;
          margin-top: 20px;
        }
      }
    }

  }
}

.sixth-section{
  .back-2{
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
  }
  .sixth-section-content{
    width: 100%;
    position: relative;
    height: 100%;
    background-color: rgba(51, 87, 161, 0.75);
    color: white;
    .content-header{
      position: relative;
      top: 13.020833333%;
      left: 20.138888889%;
      h1{
        font-family: PDF-Medium;
        font-size: 45px;
      }
    }
    .content-text{
      width: 35%;
      position: relative;
      left: 20.138888889%;
      top: 23.69%;
      h2{
        font-family: PDF-Regular;
        font-size: 30px;
        letter-spacing: 1.5px;
      }
    }
    .content-map{
      position: absolute;
      right: 20%;
      top: 29.6875%;
      width: 20%;
    }
  }
}

@media only screen and (max-width:680px) {
  .home{
    .back-1{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }
    .section-home-info{
      width: 100%;
      height: 100%;
      color: white;
      h1{
        padding: 0 0px 0 3.789473684%;
      }
      h4{
        padding: 10px 50px 0 3.789473684%;
      }
      p{
        padding: 20px 50px 0 3.789473684%;
        font-size: 17px;
      }
      h1:first-of-type{
        padding-top: 50px;
      }
    }
  }
  .second-section{
    .second-section-about{
      width: 90%;
    }
  }
  .section-third-content{
    left: 0;right: 0;
    margin: 0 auto;
    width: 90%;
    top: 40px;
    h1{
      margin-bottom:20px;
    }
    .flex-1,.flex-2{
      width: 100%;
    }
    .flex-1{
      flex-wrap: wrap;
      margin-top: 20px;
      li{
        max-width: 100%;
        box-sizing: border-box;
        padding: 1em;
        min-width: 100%;
      }
    }
    .flex-2{
      flex-wrap: wrap;
      li{
        max-width: 40%;
        box-sizing: border-box;
        padding: 1em;
        min-width: 50%;
      }
    }
  }
  .section-fourth{
    .section-fourth-content{
      width: 100%;
      h1{
        margin-left: 8%;
      }
      .flex-1{
        .flex-block{
          width: 50%;
          .flex-block-text{
            width: 70%;
            position: relative;
            left: 0;
            right: 0;
            margin: 0 auto;
            margin-top: 20px;
          }
        }
        .flex-block:nth-of-type(n+3){
          margin-top: 30px;
        }
      }
    }
  }
}

@media only screen and (min-width: 681px) and (max-width: 1440px){
  .home{
    .section-home-info{
      h1{
        padding: 0 0px 0 26%;
        font-family: PDF;
      }
      h2{
        font-family: Raleway-Bold;
      }
      h4{
        font-family: Raleway-Bold;
        padding: 10px 50px 0 26%;
        line-height: 1.5;
      }
      p{
        font-family: Raleway-Regular;
        padding: 20px 50px 0 26%;
        font-size: 17px;
      }
      h1:first-of-type{
        padding-top: 150px;
      }
    }
  }
  .second-section{
    .second-section-about{
      width: 59.722222222%;
      h4{
        margin-top: 30px;
        line-height: 1.5;
      }
      img{
        margin-top: 20px;
      }
    }
  }
  .section-third{
    .section-third-content{
      top: 5.208333333%;
      left: 20.138888889%;
      h1{
        margin-bottom: 100px;
      }
      .flex-1,.flex-2{
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 0;
      // position: relative;
      // left: 0; right: 0;
      // margin: 0 auto;
      width: 60%;
    }
    .flex-1{
      li{
        max-width: 400px;
        box-sizing: border-box;
        padding: 1em;
        min-width: 1%;
      }
    }
    .flex-2{
      li{
        max-width: 400px;
        box-sizing: border-box;
        padding: 1em;
        min-width: 1%;
      }
    }
    .flex-1 img,.flex-2 img{max-width: 100%;}
  }
}
.section-fourth{
    .section-fourth-content{
      width: 90%;
      position: relative;
      top: 7%;
      h1{
        position: relative;
        left: 5.21%;
      }
      .flex-1{
        .flex-block{
          width: 33.3333333%;
          .flex-block-text{
            position: relative;
            left: 0; right: 0;
            margin: 0 auto;
            width: 46%;
          }
        }
        .flex-block:nth-of-type(n+3){
          margin-top: 67px;
        }
      }
    }
  }
}







.slider-wrap {
  position: relative;
  margin: 50px auto;
  margin-top: 0;
  width: 90%;
}

.slider {
  position: relative;
  width: 800px;
  margin: auto;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
  text-align: center;
}
ul li .item {
  margin-top: 100px;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 18rem;
  height: 30rem;
  background: black;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  background: #ffffff;
  color: black;
  border: solid 0.2px #979797;
}

.data {
  color: #000;
  font-size: 1.2rem;
  letter-spacing: 0.01rem;
  font-weight: 100;
}

.view-profile {
  position: absolute;
  width: 124px;
  height: 27px;
  border: 1px solid #fff;
  color: #000;
  left: 50%;
  bottom: 20px;
  margin-left: -62px;
  padding: 6px 0;
  border-radius: 5px;
  font-size: 1.1rem;
  -webkit-transition: background-color .2s ease-in-out .1s;
  transition: background-color .2s ease-in-out .1s;
}
.view-profile:hover {
  background-color: #797BED;
  border-color: #000;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  color: #797BED;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.slider-arrow i {
  font-size: 2rem;
  border: 1px solid #797BED;
  padding: 10px 20px;
  border-radius: 50px;
}

.sa-left {
  left: 0px;
}

.sa-right {
  right: 34px;
}

