<%# add navigation links to this file %>
<%= link_to 'Help', help_path, class: 'navbar-brand' %>
<a href="#firstPage" class="navbar-brand">First</a>
<a href="#secondPage" class="navbar-brand">Second</a>
<a href="#thirdPage" class="navbar-brand">Third</a>
<a href="#fourthPage" class="navbar-brand">Fourth</a>

